@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, html * {
  font-family: Roboto;
}

body {
	background-color:#23272A;
	}

body > h1, h2, h3, h4, h5, h6 {
	color:#FFFFFF;
}

html > body {
	color:#8f9093;
}
	
h1{

}

.white {
	color:black;
	background-color:white;
}

.big {
	font-size: 50px;
}

.medium{
	font-size: 25px;
}

.small{
	font-size: 12px;
}

.extra-small{
	font-size: 8px;
}

.bton{
	background-color:#7289DA;
	padding:2px;
	padding-left:5px;
	padding-right:5px;
	border-color:#7289DA;
	color:white;
	border-radius:3px;
	border:none;
	padding: 10px 15.5px;
	margin: inherit;
}

.bton-bad{
	background-color:#ff463c;
}

.bton:hover{
    bottom : 2px;
    position: relative;
}

.bton:focus {
	outline:none;
}

.bton:active {
	-webkit-filter: blur(1px);
}

.bton-okay{
	background-color:#faa61a;
}

.bton-good{
	background-color:#0fa763;
}

.bton-dark{
	background-color:#36393e;
}

.bton-light{
	background-color:#ffffff;
	color:#8f9093;
}

code{
	padding: 2px 2px;
    color: #fff;
    background-color: #292828;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}

.box{
	background: #2C2F33;
    overflow: hidden;
    max-width: 100px;
    padding: 20px;
	border-radius:5px;
	border-width:5px;
	border: 1px solid #2C2F33;
	}
	
.box-whole{
	background: #2C2F33;
    overflow: hidden;
    padding: 20px;
	border-radius:5px;
	border-width:5px;
	border: 1px solid #2C2F33;
	}
	
.triangle {
	background: url(assets/ps_triangle.png);
}